
.section1{
height: 685px;
background: rgba(229, 84, 115, 0.10);
display: flex;
justify-content: center;
padding: 130px;
margin-top: 0%;

}
.section1-text{
padding-top: 130px
}
h1{
font-family: 'Open Sans', sans-serif;
font-weight: 200;

}
.section-texts-button{

background: #E55473;
color:#fff ;
padding: 12px 27px ;
border-color: white;
border-radius: 2px;
font-size: medium;
}
.hot-deal-section{

height: 450;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: center;
gap: 100px;
padding-top: 100px;
margin-top: 85px;
position: relative;

}


span{
    color: red;
}

.hot-deal-section-text{
    padding-top: 115px;
}
.section-texts-button2{
background: #E55473;
color:#fff ;
margin-left: 12%;
border-color: white;
border-radius: 2px;
font-size: medium;
position: absolute;
padding: 12px 27px ;
}
.section5-heading{
    text-align: center;
}
.section5-img-container{
    display: flex;
    gap: 1px;
    
    height: 450px;
    padding-right: 100px;
    padding-left:100px ;
    justify-content: center;
    
    
}
.input-box{
    width:420px ;
    height: 40px;
}
.section6{
    text-align: center;
    background-image: url("./Flower Asset/Rectangle 9.png");
    padding-top: 150px;
    height: 450px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    
}
footer{
    background:#111010;
    color: white;
    text-align: center;
    height: 250px;
    justify-items: center;
    padding-top:125px ;
    margin-top: 20px;

}
.flower{
    margin-right:0%;
    color: #E55473;
}

.featured-flower-text{
    text-align: center;
    padding-top: 125px;
    
    
}
.featured-flower-images{
    display: flex;
    text-align: center;
    text-decoration: underline;

}
.featured-flower-image1{
    width: 300px;
    height: 280px;
    border-radius: 100px 100px 0px 0px;
    background-color: rgba(167, 33, 98, 0.1);
    padding-top: 60px;
}
.featured-flower-image2{
    width: 300px;
    height: 280px;
    border-radius: 100px 100px 0px 0px;
    padding-top: 60px;
    background-color: rgba(5, 151, 160, 0.1);  

}
.featured-flower-image3{
    width: 300px;
    height: 280px;
    border-radius: 100px 100px 0px 0px;
    padding-top: 60px;
    background-color: rgba(71, 125, 17, 0.1);

}






