*{
    margin: 1%;
    
}
.section1{
width: 1100px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
display: flex;
justify-content: center;
padding: 130px

}
.section1-text{
    padding-top: 130px;
}
h1{
font-family: 'Open Sans', sans-serif;
font-weight: 200;

}
.section-texts-button{

background: #E55473;
color:#fff ;
padding: 12px 27px ;
border-color: white;
border-radius: 8px;
font-size: medium;
}
.section2{
width: 1100;
height: 622;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: center;
padding: 30px 50px 0px;
margin-top: 50px;
margin-bottom: 50px;

}
span{
    color: red;
}

.section2-text{
    padding-top: 120px;
}
.section5-heading{
    text-align: center;
}
.section5-img-container{
    display: flex;
    gap: 1px;
    
    height: 450px;
    padding-right: 100px;
    padding-left:100px ;
    justify-content: center;
    
    
}
.input-box{
    width:420px ;
    height: 40px;
}
.section6{
    text-align: center;
    background-image: url("./Flower Asset/Rectangle 9.png");
    padding-top: 150px;
    height: 450px;
    background-repeat: no-repeat;
    
}
footer{
    background:#111010;
    color: white;
    text-align: center;
    height: 250px;
    justify-items: center;
    padding-top:125px ;
    margin-top: 70px;
}
.flower{
    margin-right:0%;
    color: #E55473;
}






